/* Default light mode styles */
:root {
    --bg-color: #f9fafb;    /* Light background */
    --text-color: #000000;   /* Dark text color */
    --button-bg: #f3f4f6;    /* Light button background */
    --button-text: #000000;   /* Dark button text */
    --nav-color: #000000; /* Dark Nav*/
    --blur-color: #000000;
    --footer-color: #d1d1d1; 
    --card-color: #222020;
    --cardtext-color: #ffffff;
    --drop-shadow: 15px 15px 25px rgba(0, 0, 0, 0.3);
  }
  
  /* Dark mode styles */
  html.dark {
    --bg-color: #000000;    /* Dark background */
    --text-color: #f9fafb;   /* Light text color */
    --button-bg: #4b5563;    /* Dark button background */
    --button-text: #f3f4f6;  /* Light button text */
    --nav-color: #f9fafb; /* Light Nav*/
    --blur-color: #ffffff;
    --footer-color: #222222;
    --card-color: #ffffff;
    --cardtext-color: #000000;
    --drop-shadow: 15px 15px 25px rgba(255, 255, 255, 0.3);
  }
  
  .con {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: 1s;
  }
  
  .button {
    background-color: var(--button-bg);
    color: var(--button-text);
  }

  .text {
    color: var(--button-text);
  }

  
  @layer components {
    .nav-items::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: var(--nav-color);
      transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    }
  
    .group:hover .nav-items::after {
      width: 100%;
      left: 0;
    }
  }

  .blur {
    background-color: var(--blur-color);
    opacity: 1;
    box-shadow: 5px 10px 8px #888888;
  }

  .footer {
    background-color: var(--footer-color);
  }

  .card {
    background-color: var(--card-color);
  }

  .card-text {
    color: var(--cardtext-color);
  }

  .drop-shadow-3xl{
    filter: drop-shadow(var(--drop-shadow));
  }