
:root {
    --bg-color: #f9fafb;    
    --text-color: #000000;  
    --color: #f1f1f1; 
    --button-bg: #f3f4f6;    
    --button-text: #000000;   
    --nav-color: #000000;
    --blur-color: #000000;
    --nav: #000000; 
    --footer-color: #1A1A1D; 
    --card-color: #000000;
    --cardtext-color: #ffffff;
    --drop-shadow: 15px 15px 25px rgba(0, 0, 0, 0.3);
  }
  
  html.dark {
    --bg-color: #1A1A1D;    
    --text-color: #f9fafb; 
    --color: #353535;  
    --button-bg: #4b5563;   
    --button-text: #f3f4f6; 
    --nav-color: #f9fafb; 
    --blur-color: #ffffff;
    --nav: #ffffff; 
    --footer-color: #ebebeb;
    --card-color: #ffffff;
    --cardtext-color: #000000;
    --drop-shadow: 15px 15px 25px rgba(255, 255, 255, 0.3);
  }

  .nav {
    color: var(--nav);
  }
  
  .con {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: 1s;
  }
  
  .button {
    background-color: var(--button-bg);
    color: var(--button-text);
  }

  .text {
    color: var(--button-text);
  }

  
  @layer components {
    .nav-items::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: var(--nav-color);
      transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    }
  
    .group:hover .nav-items::after {
      width: 100%;
      left: 0;
    }
  }

  .blur {
    background-color: var(--blur-color);
    opacity: 1;
    box-shadow: 5px 10px 8px #888888;
  }

  .footer {
    background-color: var(--footer-color); 
    color: var(--color);
  }

  .card {
    background-color: var(--card-color);
  }

  .card-text {
    color: var(--cardtext-color);
  }

  .drop-shadow-3xl{
    filter: drop-shadow(var(--drop-shadow));
  }